<div class="mt-28 container mx-auto p-6 ">
  <h1 class="text-4xl font-bold text-center mb-8 text-white tracking-wide">Entre em Contato</h1>

  <!-- Links para redes sociais -->
  <div class="flex justify-center space-x-8">
    <!-- GitHub -->
    <a href="https://github.com/killuazn" target="_blank" class="text-white hover:text-indigo-400 transition-colors duration-300 transform hover:scale-110">
      <i class="fab fa-github fa-3x"></i>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/julio-macedo-4a6389343" target="_blank" class="text-white hover:text-indigo-400 transition-colors duration-300 transform hover:scale-110">
      <i class="fab fa-linkedin fa-3x"></i>
    </a>

    <!-- Discord -->
    <a href="https://discord.com/users/1062803426347593789" target="_blank" class="text-white hover:text-indigo-400 transition-colors duration-300 transform hover:scale-110">
      <i class="fab fa-discord fa-3x"></i>
    </a>
  </div>
</div>
