<div class=" mt-20 max-w-6xl mx-auto py-16 px-6 sm:px-12 bg-gradient-to-r from-purple-600 to-indigo-600 text-white rounded-lg shadow-xl">
  <!-- Seção Título e Descrição -->
  <div class="text-center mb-12">
    <h2 class="text-4xl font-extrabold leading-tight text-white sm:text-5xl">
      Sobre Mim
    </h2>
    <p class="mt-3 text-lg sm:text-xl text-gray-200 max-w-3xl mx-auto">
      Desenvolvedor web apaixonado por transformar ideias em experiências digitais incríveis e inovadoras.
    </p>
  </div>

  <!-- Layout Flex -->
  <div class="flex flex-col items-center md:flex-row md:space-x-12">
    <!-- Foto -->
    <div class="w-48 h-48 md:w-64 md:h-64 rounded-full overflow-hidden border-4 border-white shadow-2xl mb-8 md:mb-0 transform transition-all hover:scale-105 hover:shadow-2xl">
      <img src="https://cdn.leonardo.ai/users/fc623082-5efe-4439-aa6b-af89eae46a85/generations/548e446f-17c6-4802-98ee-0e0bd2a11606/AlbedoBase_XL_Create_an_astronaut_in_space_and_his_helmet_is_r_3.jpg?w=512" alt="Minha Foto" class="w-full h-full object-cover">
    </div>

    <!-- Descrição -->
    <div class="text-center md:text-left space-y-4">
      <p class="text-lg md:text-xl text-gray-100">
        Olá, meu nome é <span class="font-semibold text-indigo-300">Julio</span> e sou um desenvolvedor front-end apaixonado por criar interfaces bonitas e funcionais. Tenho experiência com tecnologias como <span class="font-semibold text-indigo-300">HTML</span>, <span class="font-semibold text-indigo-300">CSS</span>, <span class="font-semibold text-indigo-300">JavaScript</span>, e também frameworks como <span class="font-semibold text-indigo-300">React</span> e <span class="font-semibold text-indigo-300">Angular</span>.
      </p>
      <p class="text-lg md:text-xl text-gray-100">
        Além de codificar, sou entusiasta de <span class="font-semibold text-indigo-300">design</span>, <span class="font-semibold text-indigo-300">fotografia</span> e <span class="font-semibold text-indigo-300">viajar</span>. Acredito que essas atividades me ajudam a ter uma abordagem mais criativa para resolver problemas e criar soluções inovadoras no desenvolvimento.
      </p>
    </div>
  </div>
</div>
